/* stylelint-disable */

.qt-icon-star:before {
  content: "\e61a";
}

.qt-icon-shoujihao:before {
  content: "\e6c1";
}

.qt-icon-jiantou9:before {
  content: "\e60b";
}

.qt-icon-zhanghuffffffpx:before {
  content: "\e602";
}

.qt-icon-shuaxin:before {
  content: "\e65a";
}

.qt-icon-sousuo:before {
  content: "\e603";
}

.qt-icon-yanzhengma:before {
  content: "\e637";
}

